{
  "type": "service_account",
  "project_id": "yc-srv1-proj",
  "private_key_id": "cd5c053a1b322ada538520623d0643dd75a06b90",
  "private_key": "{{ lookup('hashi_vault','secret=secret/data/gcp/yc-srv1-proj:key') }}",
  "client_email": "terraform@yc-srv1-proj.iam.gserviceaccount.com",
  "client_id": "116724549673162884803",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/terraform%40yc-srv1-proj.iam.gserviceaccount.com"
}
