{
  "type": "service_account",
  "project_id": "proj-yc-srv1",
  "private_key_id": "470d38749868584da2ebe35b757ae653460447d0",
  "private_key": "{{ lookup('hashi_vault','secret=secret/gcp/yc-srv1-proj:key') }}",
  "client_email": "proj-yc-srv1-sa1@proj-yc-srv1.iam.gserviceaccount.com",
  "client_id": "113935345052184642278",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/proj-yc-srv1-sa1%40proj-yc-srv1.iam.gserviceaccount.com"
}